body {
  background: #d5d5d5;
  font-family: arial;
  color: #FAFAFA;
  text-transform: uppercase;
}

.scoreboard {
  background: #333;
  width: 700px;
  height: 300px;
  margin: 70px auto;
  box-shadow: 0 4px 0px #333;
  border-radius: 15px;
  text-align: center;
}